body{
  background-color:#b4d5e9d0
}
.v1{
  display:flex;
  flex-wrap: wrap;
}
.g1{
  width:80%
}
@media(max-width:830px){
  .v1{
    flex-direction: column;
  }
  #nav{
    width:60% !important;
  }
  .g1{
    width:100%
  }
  #s1{
    flex-direction: column;
  }
  .v2{
    display: flex;
  }
}